In [2]:
import pandas as pd

# raw files
bios_raw = pd.read_csv("data/raw/bios_raw.csv")
results_raw = pd.read_csv("data/raw/results_raw.csv")

bios_raw.head(), results_raw.head()

(                                       Roles   Sex  \
 0                  Competed in Olympic Games  Male
 1                  Competed in Olympic Games  Male
 2  Competed in Olympic Games • Administrator  Male
 3                  Competed in Olympic Games  Male
 4                  Competed in Olympic Games  Male

                                            Full name              Used name  \
 0  François Joseph Marie Antoine "Jean-François"•...  Jean-François•Blanchy
 1                            Arnaud Benjamin•Boetsch         Arnaud•Boetsch
 2                        Jean Laurent Robert•Borotra           Jean•Borotra
 3               Jacques Marie Stanislas Jean•Brugnon        Jacques•Brugnon
 4                                 Henry Albert•Canet           Albert•Canet

                                                 Born  \
 0        12 December 1886 in Bordeaux, Gironde (FRA)
 1             1 April 1969 in Meulan, Yvelines (FRA)
 2  13 August 1898 in Biarritz, Pyrénées-Atlantiqu...
 3            11 May 1895 in Paris VIIIe, Paris (FRA)
 4         17 April 1878 in Wandsworth, England (GBR)

                                                 Died     NOC  athlete_id  \
 0  2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...  France           1
 1                                                NaN  France           2
 2  17 July 1994 in Arbonne, Pyrénées-Atlantiques ...  France           3
 3              20 March 1978 in Monaco, Monaco (MON)  France           4
 4            25 July 1930 in Paris VIIe, Paris (FRA)  France           5

      Measurements                         Affiliations  \
 0             NaN                                  NaN
 1  183 cm / 76 kg   Racing Club de France, Paris (FRA)
 2  183 cm / 76 kg                     TCP, Paris (FRA)
 3  168 cm / 64 kg  Sporting club de Paris, Paris (FRA)
 4             NaN                     TCP, Paris (FRA)

                                 Nick/petnames Title(s) Other names  \
 0                                         NaN      NaN         NaN
 1                                         NaN      NaN         NaN
 2  Le Basque Bondissant (The Bounding Basque)      NaN         NaN
 3                                        Toto      NaN         NaN
 4                                         NaN      NaN         NaN

   Nationality Original name Name order
 0         NaN           NaN        NaN
 1         NaN           NaN        NaN
 2         NaN           NaN        NaN
 3         NaN           NaN        NaN
 4         NaN           NaN        NaN  ,
                   Games                     Event             Team  Pos Medal  \
 0  1912 Summer Olympics    Singles, Men (Olympic)              NaN  =17   NaN
 1  1912 Summer Olympics    Doubles, Men (Olympic)   Jean Montariol  DNS   NaN
 2  1920 Summer Olympics    Singles, Men (Olympic)              NaN  =32   NaN
 3  1920 Summer Olympics  Doubles, Mixed (Olympic)  Jeanne Vaussard   =8   NaN
 4  1920 Summer Olympics    Doubles, Men (Olympic)  Jacques Brugnon    4   NaN

                       As  athlete_id  NOC Discipline  Nationality  Unnamed: 7
 0  Jean-François Blanchy           1  FRA     Tennis          NaN         NaN
 1  Jean-François Blanchy           1  FRA     Tennis          NaN         NaN
 2  Jean-François Blanchy           1  FRA     Tennis          NaN         NaN
 3  Jean-François Blanchy           1  FRA     Tennis          NaN         NaN
 4  Jean-François Blanchy           1  FRA     Tennis          NaN         NaN  )

In [3]:
bios = bios_raw.copy()

# drop empty columns
bios = bios.dropna(axis=1, how='all')

# tidy up column names
bios.columns = (
    bios.columns
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[^a-z0-9_]", "", regex=True)
)

# ensure athlete_id is int
bios["athlete_id"] = bios["athlete_id"].astype(int)

bios.head()

,roles,sex,full_name,used_name,born,died,noc,athlete_id,measurements,affiliations,nickpetnames,titles,other_names,nationality,original_name,name_order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
results = results_raw.copy()

# drop useless unnamed columns
results = results[[c for c in results.columns if not c.lower().startswith("unnamed")]]

# normalize column names
results.columns = (
    results.columns
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[^a-z0-9_]", "", regex=True)
)

# ensure athlete_id is int
results["athlete_id"] = results["athlete_id"].astype(int)

results.head()

,games,event,team,pos,medal,as,athlete_id,noc,discipline,nationality
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN

In [5]:
# split discipline if needed
if "discipline" in results.columns:
    results["discipline"] = results["discipline"].fillna("").str.split("/").str[0].str.strip()

# clean medal column
if "medal" in results.columns:
    results["medal"] = results["medal"].fillna("").str.title()

In [6]:
bios.to_csv("data/clean/clean_bios.csv", index=False)
results.to_csv("data/clean/clean_results.csv", index=False)

In [7]:
merged = results.merge(bios, on="athlete_id", how="left")
merged.head()

,games,event,team,pos,medal,as,athlete_id,noc_x,discipline,nationality_x,...,died,noc_y,measurements,affiliations,nickpetnames,titles,other_names,nationality_y,original_name,name_order
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,,Jean-François Blanchy,1,FRA,Tennis,NaN,...,"2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,,Jean-François Blanchy,1,FRA,Tennis,NaN,...,"2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,,Jean-François Blanchy,1,FRA,Tennis,NaN,...,"2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,,Jean-François Blanchy,1,FRA,Tennis,NaN,...,"2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,,Jean-François Blanchy,1,FRA,Tennis,NaN,...,"2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
merged.to_csv("data/clean/clean_merged.csv", index=False)